USE [master]
GO
/****** Object:  Database [NetSchool]    Script Date: 12/04/2019 00:14:39 ******/
CREATE DATABASE [NetSchool] ON  PRIMARY 
( NAME = N'NetSchool_Data', FILENAME = N'D:\SQL\NetSchool_Data.MDF' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'NetSchool_Log', FILENAME = N'D:\SQL\NetSchool_Log.LDF' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetSchool].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [NetSchool]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLASS](
	[CLASSID] [varchar](20) NOT NULL,
	[CLASSNAME] [varchar](50) NOT NULL,
	[REGTIME] [datetime] NULL,
	[SPECIALTY] [varchar](50) NULL,
	[REMARK] [varchar](2000) NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[CLASSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CLASS] ([CLASSID], [CLASSNAME], [REGTIME], [SPECIALTY], [REMARK]) VALUES (N'J01', N'C语言程序设计', CAST(0x000098FB0131EEEA AS DateTime), N'计算机', NULL)
INSERT [dbo].[CLASS] ([CLASSID], [CLASSNAME], [REGTIME], [SPECIALTY], [REMARK]) VALUES (N'J02', N'数据结构', CAST(0x000098FB013D3DD2 AS DateTime), N'计算机', NULL)
INSERT [dbo].[CLASS] ([CLASSID], [CLASSNAME], [REGTIME], [SPECIALTY], [REMARK]) VALUES (N'J03', N'网络程序设计', CAST(0x000098FB013D5F44 AS DateTime), N'计算机', NULL)
/****** Object:  Table [dbo].[STUDENT]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT](
	[USERID] [varchar](20) NOT NULL,
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[SEX] [varchar](4) NULL,
	[BIRTHDAY] [datetime] NULL,
	[REGTIME] [datetime] NULL,
	[SPECIALTY] [varchar](50) NULL,
	[REMARK] [varchar](2000) NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[STUDENT] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [REGTIME], [SPECIALTY], [REMARK]) VALUES (N'200', N'张三', N'200', N'男', CAST(0x00007FCF00000000 AS DateTime), CAST(0x000098C800000000 AS DateTime), N'计算机', NULL)
INSERT [dbo].[STUDENT] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [REGTIME], [SPECIALTY], [REMARK]) VALUES (N'201', N's201', N'201', N'男', NULL, CAST(0x000098FB012158A5 AS DateTime), NULL, NULL)
INSERT [dbo].[STUDENT] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [REGTIME], [SPECIALTY], [REMARK]) VALUES (N'202', N's202', N'202', N'男', CAST(0x0000990D00000000 AS DateTime), CAST(0x0000990700000000 AS DateTime), NULL, NULL)
/****** Object:  Table [dbo].[NEWS]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS](
	[NEWSID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](200) NULL,
	[BODY] [text] NULL,
	[NEWSDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NEWSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NEWS] ON
INSERT [dbo].[NEWS] ([NEWSID], [TITLE], [BODY], [NEWSDATE]) VALUES (1, N'畅想网络学院开通', N'内容1', CAST(0x000098E500000000 AS DateTime))
INSERT [dbo].[NEWS] ([NEWSID], [TITLE], [BODY], [NEWSDATE]) VALUES (2, N'庆祝畅想网络学院开课 五台山体育馆群星演唱会', N'内容2', CAST(0x000098F700000000 AS DateTime))
INSERT [dbo].[NEWS] ([NEWSID], [TITLE], [BODY], [NEWSDATE]) VALUES (3, N'现代教育技术研讨会在我院召开', N'内容3', CAST(0x0000992B00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[NEWS] OFF
/****** Object:  Table [dbo].[MENU]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MENU](
	[USERTYPE] [char](1) NOT NULL,
	[TREEID] [int] NOT NULL,
	[TITLE] [varchar](50) NULL,
	[DESN] [varchar](200) NULL,
	[PARENTID] [int] NULL,
	[URL] [varchar](200) NULL,
	[TARGET] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERTYPE] ASC,
	[TREEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MENU] ([USERTYPE], [TREEID], [TITLE], [DESN], [PARENTID], [URL], [TARGET]) VALUES (N'M', 0, N'管理人员系统', N'供学校管理人员使用。', -1, NULL, NULL)
INSERT [dbo].[MENU] ([USERTYPE], [TREEID], [TITLE], [DESN], [PARENTID], [URL], [TARGET]) VALUES (N'M', 1, N'教师管理', NULL, 0, NULL, NULL)
INSERT [dbo].[MENU] ([USERTYPE], [TREEID], [TITLE], [DESN], [PARENTID], [URL], [TARGET]) VALUES (N'M', 2, N'学生管理', NULL, 0, N'', N'')
/****** Object:  Table [dbo].[MANAGER]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MANAGER](
	[USERID] [varchar](20) NOT NULL,
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[SEX] [varchar](4) NULL,
	[BIRTHDAY] [datetime] NULL,
	[DUTY] [varchar](20) NULL,
	[SPECIALTY] [varchar](50) NULL,
	[REMARK] [varchar](2000) NULL,
 CONSTRAINT [PK_MANAGER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MANAGER] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [DUTY], [SPECIALTY], [REMARK]) VALUES (N'admin', N'admin', N'admin', N'男', CAST(0x0000901A00000000 AS DateTime), N'网络管理员', N'计算机', NULL)
INSERT [dbo].[MANAGER] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [DUTY], [SPECIALTY], [REMARK]) VALUES (N'gao', N'gao', N'gao', N'男', CAST(0x0000610400000000 AS DateTime), N'职员', N'计算机', NULL)
INSERT [dbo].[MANAGER] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [DUTY], [SPECIALTY], [REMARK]) VALUES (N'li', N'li', N'li', N'男', CAST(0x0000682700000000 AS DateTime), N'系主任', N'院校管理', NULL)
/****** Object:  Table [dbo].[TEACHER]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEACHER](
	[USERID] [varchar](20) NOT NULL,
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[SEX] [varchar](4) NULL,
	[BIRTHDAY] [datetime] NULL,
	[RANK] [varchar](20) NULL,
	[SPECIALTY] [varchar](50) NULL,
	[REMARK] [varchar](2000) NULL,
 CONSTRAINT [PK_TEACHER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TEACHER] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [RANK], [SPECIALTY], [REMARK]) VALUES (N'gaoyi', N'高屹', N'gaoyi', N'男', CAST(0x0000610400000000 AS DateTime), N'助教', N'计算机应用', NULL)
INSERT [dbo].[TEACHER] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [RANK], [SPECIALTY], [REMARK]) VALUES (N'lilei', N'李雷', N'lilei', N'男', CAST(0x00006B0100000000 AS DateTime), N'副教授', N'计算机软件', NULL)
INSERT [dbo].[TEACHER] ([USERID], [USERNAME], [PASSWORD], [SEX], [BIRTHDAY], [RANK], [SPECIALTY], [REMARK]) VALUES (N'qidy', N'齐东元', N'qidy', N'男', CAST(0x0000682700000000 AS DateTime), N'副教授', N'数据库研究', NULL)
/****** Object:  Table [dbo].[SYS_FIELD]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_FIELD](
	[TABLE_NAME] [varchar](30) NOT NULL,
	[COLUMN_NAME] [varchar](30) NOT NULL,
	[COLUMN_ID] [int] NULL,
	[DATA_TYPE] [varchar](1) NULL,
	[DATA_LENGTH] [int] NULL,
	[COLUMN_KIND] [varchar](60) NULL,
	[DICK] [varchar](2) NULL,
	[DISP] [varchar](1) NULL,
 CONSTRAINT [PK_SYS_FIELD] PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC,
	[COLUMN_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYS_FIELD] ([TABLE_NAME], [COLUMN_NAME], [COLUMN_ID], [DATA_TYPE], [DATA_LENGTH], [COLUMN_KIND], [DICK], [DISP]) VALUES (N'STUDENT', N'BIRTHDAY', 5, N'D', 8, N'出生日期', NULL, N'Y')
INSERT [dbo].[SYS_FIELD] ([TABLE_NAME], [COLUMN_NAME], [COLUMN_ID], [DATA_TYPE], [DATA_LENGTH], [COLUMN_KIND], [DICK], [DISP]) VALUES (N'STUDENT', N'REGTIME', 6, N'D', 8, N'注册时间', NULL, N'Y')
INSERT [dbo].[SYS_FIELD] ([TABLE_NAME], [COLUMN_NAME], [COLUMN_ID], [DATA_TYPE], [DATA_LENGTH], [COLUMN_KIND], [DICK], [DISP]) VALUES (N'STUDENT', N'REMARK', 8, N'V', 50, N'备注', NULL, N'Y')
/****** Object:  Table [dbo].[STUDENT_CLASS_BACK]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT_CLASS_BACK](
	[USERID] [varchar](20) NOT NULL,
	[CLASSID] [varchar](20) NOT NULL,
	[REGTIME] [datetime] NULL,
	[GRADE] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[STUDENT_CLASS_BACK] ([USERID], [CLASSID], [REGTIME], [GRADE]) VALUES (N'201', N'J01', CAST(0x000098FB0141A086 AS DateTime), CAST(78.60 AS Decimal(5, 2)))
INSERT [dbo].[STUDENT_CLASS_BACK] ([USERID], [CLASSID], [REGTIME], [GRADE]) VALUES (N'201', N'J02', CAST(0x000098FB014225B8 AS DateTime), CAST(99.20 AS Decimal(5, 2)))
INSERT [dbo].[STUDENT_CLASS_BACK] ([USERID], [CLASSID], [REGTIME], [GRADE]) VALUES (N'202', N'J01', CAST(0x000098FB0141E120 AS DateTime), CAST(100.00 AS Decimal(5, 2)))
/****** Object:  Table [dbo].[TEACHER_CLASS]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEACHER_CLASS](
	[USERID] [varchar](20) NOT NULL,
	[CLASSID] [varchar](20) NOT NULL,
	[DUTY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[CLASSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TEACHER_CLASS] ([USERID], [CLASSID], [DUTY]) VALUES (N'gaoyi', N'J01', N'辅导教师')
INSERT [dbo].[TEACHER_CLASS] ([USERID], [CLASSID], [DUTY]) VALUES (N'gaoyi', N'J02', N'主讲教师')
INSERT [dbo].[TEACHER_CLASS] ([USERID], [CLASSID], [DUTY]) VALUES (N'gaoyi', N'J04', N'辅导教师')
/****** Object:  Table [dbo].[BBS]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BBS](
	[BBSID] [bigint] IDENTITY(1,1) NOT NULL,
	[CLASSID] [varchar](20) NOT NULL,
	[TITLE] [varchar](100) NOT NULL,
	[CONTENT] [varchar](1000) NULL,
	[USERTYPE] [varchar](1) NULL,
	[USERID] [varchar](20) NULL,
	[USERNAME] [varchar](20) NULL,
	[RESTYPE] [varchar](1) NULL,
	[RESID] [varchar](20) NULL,
	[RESNAME] [varchar](20) NULL,
	[BBSREAD] [int] NULL,
	[BBSWRITE] [int] NULL,
	[BBSTIME] [datetime] NULL,
	[RESTIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BBSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BBS] ON
INSERT [dbo].[BBS] ([BBSID], [CLASSID], [TITLE], [CONTENT], [USERTYPE], [USERID], [USERNAME], [RESTYPE], [RESID], [RESNAME], [BBSREAD], [BBSWRITE], [BBSTIME], [RESTIME]) VALUES (5, N'J03', N'ddd', N'dddddddddd', N'S', N'201', N'S201', N'T', N't', N'教师t', 19, 1, CAST(0x000098EA00000000 AS DateTime), CAST(0x0000993100FF0516 AS DateTime))
INSERT [dbo].[BBS] ([BBSID], [CLASSID], [TITLE], [CONTENT], [USERTYPE], [USERID], [USERNAME], [RESTYPE], [RESID], [RESNAME], [BBSREAD], [BBSWRITE], [BBSTIME], [RESTIME]) VALUES (9, N'J03', N'hhhhh', N'hhhhhhhhh', N'S', N'201', N'S201', N'T', N't', N't', 1, 0, CAST(0x000098EE00000000 AS DateTime), CAST(0x000098EE00000000 AS DateTime))
INSERT [dbo].[BBS] ([BBSID], [CLASSID], [TITLE], [CONTENT], [USERTYPE], [USERID], [USERNAME], [RESTYPE], [RESID], [RESNAME], [BBSREAD], [BBSWRITE], [BBSTIME], [RESTIME]) VALUES (11, N'J03', N'ttt', N'tttttttt
ttttttttttttttttt
tttt', N'T', N't', N'教师t', NULL, NULL, NULL, 0, 0, CAST(0x00009909011353AD AS DateTime), CAST(0x00009909011353AD AS DateTime))
SET IDENTITY_INSERT [dbo].[BBS] OFF
/****** Object:  Table [dbo].[STUDENT_CLASS]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT_CLASS](
	[USERID] [varchar](20) NOT NULL,
	[CLASSID] [varchar](20) NOT NULL,
	[REGTIME] [datetime] NULL,
	[GRADE] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[CLASSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[STUDENT_CLASS] ([USERID], [CLASSID], [REGTIME], [GRADE]) VALUES (N'201', N'J01', CAST(0x000098FB0141A086 AS DateTime), CAST(78.60 AS Decimal(5, 2)))
INSERT [dbo].[STUDENT_CLASS] ([USERID], [CLASSID], [REGTIME], [GRADE]) VALUES (N'201', N'J02', CAST(0x000098FB014225B8 AS DateTime), CAST(99.20 AS Decimal(5, 2)))
INSERT [dbo].[STUDENT_CLASS] ([USERID], [CLASSID], [REGTIME], [GRADE]) VALUES (N'202', N'J01', CAST(0x000098FB0141E120 AS DateTime), CAST(100.00 AS Decimal(5, 2)))
/****** Object:  Table [dbo].[FILES]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FILES](
	[CLASSID] [varchar](20) NOT NULL,
	[FILENAME] [varchar](200) NOT NULL,
	[FILETYPE] [varchar](200) NULL,
	[FILEURL] [varchar](200) NULL,
	[FILECONTENT] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[CLASSID] ASC,
	[FILENAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FILES] ([CLASSID], [FILENAME], [FILETYPE], [FILEURL], [FILECONTENT]) VALUES (N'J01', N'gg', N'text/plain', N'\UpLoads\200764928578113559.txt', N'ggggggggggg')
INSERT [dbo].[FILES] ([CLASSID], [FILENAME], [FILETYPE], [FILEURL], [FILECONTENT]) VALUES (N'J01', N'课件名称', N'text/plain', N'\UpLoads\200762202619021054.txt', N'课件说明')
INSERT [dbo].[FILES] ([CLASSID], [FILENAME], [FILETYPE], [FILEURL], [FILECONTENT]) VALUES (N'J02', N'sssss', N'text/plain', N'\UpLoads\2007615934111792556.txt', N'ssssssssssssssss')
/****** Object:  Table [dbo].[BBS_RESPONSE]    Script Date: 12/04/2019 00:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BBS_RESPONSE](
	[RESPONSEID] [bigint] IDENTITY(1,1) NOT NULL,
	[BBSID] [bigint] NOT NULL,
	[RESTYPE] [varchar](1) NULL,
	[RESID] [varchar](20) NULL,
	[RESNAME] [varchar](20) NULL,
	[CONTENT] [varchar](1000) NULL,
	[RESTIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RESPONSEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BBS_RESPONSE] ON
INSERT [dbo].[BBS_RESPONSE] ([RESPONSEID], [BBSID], [RESTYPE], [RESID], [RESNAME], [CONTENT], [RESTIME]) VALUES (2, 18, N'T', N't', N'教师t', N'gggggggggggggg', CAST(0x0000990A00B036AC AS DateTime))
INSERT [dbo].[BBS_RESPONSE] ([RESPONSEID], [BBSID], [RESTYPE], [RESID], [RESNAME], [CONTENT], [RESTIME]) VALUES (3, 18, N'T', N't', N'教师t', N'hhhhhhhhhhh
h
hhhhhhhhhhhhhhhhhhhhhh', CAST(0x0000990A00B0419F AS DateTime))
INSERT [dbo].[BBS_RESPONSE] ([RESPONSEID], [BBSID], [RESTYPE], [RESID], [RESNAME], [CONTENT], [RESTIME]) VALUES (8, 5, N'T', N't', N'教师t', N'tttttttttttttttt
yyyyyyyyyyy
iii', CAST(0x0000990A00BCA297 AS DateTime))
SET IDENTITY_INSERT [dbo].[BBS_RESPONSE] OFF
/****** Object:  Default [DF_BBS_BBSREAD]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[BBS] ADD  CONSTRAINT [DF_BBS_BBSREAD]  DEFAULT (0) FOR [BBSREAD]
GO
/****** Object:  Default [DF_BBS_BBSWRITE]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[BBS] ADD  CONSTRAINT [DF_BBS_BBSWRITE]  DEFAULT (0) FOR [BBSWRITE]
GO
/****** Object:  Default [DF_BBS_BBSTIME]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[BBS] ADD  CONSTRAINT [DF_BBS_BBSTIME]  DEFAULT (getdate()) FOR [BBSTIME]
GO
/****** Object:  Default [DF_BBS_RESTIME]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[BBS] ADD  CONSTRAINT [DF_BBS_RESTIME]  DEFAULT (getdate()) FOR [RESTIME]
GO
/****** Object:  Default [DF__BBS_RESPO__RESTI__3A81B327]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[BBS_RESPONSE] ADD  DEFAULT (getdate()) FOR [RESTIME]
GO
/****** Object:  ForeignKey [FK_TEACHER_CLASS_CLASS]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[TEACHER_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_TEACHER_CLASS_CLASS] FOREIGN KEY([CLASSID])
REFERENCES [dbo].[CLASS] ([CLASSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TEACHER_CLASS] CHECK CONSTRAINT [FK_TEACHER_CLASS_CLASS]
GO
/****** Object:  ForeignKey [FK_TEACHER_CLASS_TEACHER]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[TEACHER_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_TEACHER_CLASS_TEACHER] FOREIGN KEY([USERID])
REFERENCES [dbo].[TEACHER] ([USERID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TEACHER_CLASS] CHECK CONSTRAINT [FK_TEACHER_CLASS_TEACHER]
GO
/****** Object:  ForeignKey [FK_BBS_CLASS]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[BBS]  WITH CHECK ADD  CONSTRAINT [FK_BBS_CLASS] FOREIGN KEY([CLASSID])
REFERENCES [dbo].[CLASS] ([CLASSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BBS] CHECK CONSTRAINT [FK_BBS_CLASS]
GO
/****** Object:  ForeignKey [FK_STUDENT_CLASS_CLASS]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[STUDENT_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_CLASS_CLASS] FOREIGN KEY([CLASSID])
REFERENCES [dbo].[CLASS] ([CLASSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUDENT_CLASS] CHECK CONSTRAINT [FK_STUDENT_CLASS_CLASS]
GO
/****** Object:  ForeignKey [FK_STUDENT_CLASS_STUDENT]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[STUDENT_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_CLASS_STUDENT] FOREIGN KEY([USERID])
REFERENCES [dbo].[STUDENT] ([USERID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STUDENT_CLASS] CHECK CONSTRAINT [FK_STUDENT_CLASS_STUDENT]
GO
/****** Object:  ForeignKey [FK_FILES_CLASS]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[FILES]  WITH CHECK ADD  CONSTRAINT [FK_FILES_CLASS] FOREIGN KEY([CLASSID])
REFERENCES [dbo].[CLASS] ([CLASSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FILES] CHECK CONSTRAINT [FK_FILES_CLASS]
GO
/****** Object:  ForeignKey [FK_BBS_RESPONSE_BBS]    Script Date: 12/04/2019 00:14:41 ******/
ALTER TABLE [dbo].[BBS_RESPONSE]  WITH CHECK ADD  CONSTRAINT [FK_BBS_RESPONSE_BBS] FOREIGN KEY([BBSID])
REFERENCES [dbo].[BBS] ([BBSID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BBS_RESPONSE] CHECK CONSTRAINT [FK_BBS_RESPONSE_BBS]
GO
